<%- include("header")  -%>

<h2>
this is about page
</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit
     aperiam totam optio dolor accusamus rerum illo eos. Cumque dignissimos blanditiis 
     fugit corporis, architecto voluptas voluptatem quidem natus optio 
     beatae
      non?</p>


      <%- include("footer")  -%>